body{
  min-height:100vh;
  background-image:   url("http://i.imgur.com/3Y8chBg.png");
  background-size:cover;
  background-repeat:no-repeat;
  color: #87ceeb;

}

.box-color{
  background-color: rgba(255,255,255,.9);
}

.single-color{
  color: #87ceeb;
}

.single-color:hover{
  color: #87ceeb;
}

.btn-single-color{
  color: #fff;
  background-color: #87ceeb;
  border-color: #00bfff;
  
}

.btn-single-color:hover{
  color: #fff;
  background-color: #87ceeb;
  border-color: #87ceeb;
}

.all-white p, a, a:hover{
  color: white;
  text-shadow: 1px 1px #555;
}

.btn {
 cursor: pointer;
}
